@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?pgn48r');
  src: url('../fonts/icomoon.eot?pgn48r#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?pgn48r') format('truetype'),
    url('../fonts/icomoon.woff?pgn48r') format('woff'),
    url('../fonts/icomoon.svg?pgn48r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e905";
}

.icon-eye:before {
  content: "\e907";
}

.icon-megaphone:before {
  content: "\e906";
}

.icon-mail_outline:before {
  content: "\e900";
}

.icon-insert_comment:before {
  content: "\e908";
}

.icon-mode_comment:before {
  content: "\e909";
}

.icon-add_comment:before {
  content: "\e90a";
}

.icon-keyboard_arrow_left:before {
  content: "\e901";
}

.icon-keyboard_arrow_right:before {
  content: "\e902";
}

.icon-people_outline:before {
  content: "\e903";
}

.icon-search:before {
  content: "\e904";
}

.icon-map-marker:before {
  content: "\f041";
}

.icon-shopping-cart:before {
  content: "\f07a";
}

.icon-bar-chart:before {
  content: "\f080";
}

.icon-bar-chart-o:before {
  content: "\f080";
}

.icon-heart-o:before {
  content: "\f08a";
}

.icon-phone:before {
  content: "\f095";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-facebook-f:before {
  content: "\f09a";
}

.icon-bell-o:before {
  content: "\f0a2";
}

.icon-briefcase:before {
  content: "\f0b1";
}

.icon-pinterest:before {
  content: "\f0d2";
}

.icon-envelope:before {
  content: "\f0e0";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-comment-o:before {
  content: "\f0e5";
}

.icon-smile-o:before {
  content: "\f118";
}

.icon-dribbble:before {
  content: "\f17d";
}

.icon-wordpress:before {
  content: "\f19a";
}

.icon-google:before {
  content: "\f1a0";
}

.icon-language:before {
  content: "\f1ab";
}

.icon-drivers-license-o:before {
  content: "\f2c3";
}

.icon-id-card-o:before {
  content: "\f2c3";
}

.icon-alarm:before {
  content: "\e950";
}

.icon-magic-wand:before {
  content: "\e997";
}

.icon-leaf:before {
  content: "\e9a4";
}

.icon-cloud-download:before {
  content: "\e9c2";
}