@import '_vars';
@import '_global';
@import '_fonts';

.header__inner{
  background-color: $grey;
}

.header__top{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.become-btn{
  background-color: $blue;
  padding: 3px 10px;
  text-align: center;
  border-radius: 15px;
  margin-right: 50px;
}

.header__bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  font-weight: 500;
  a{
    color: #333333;
  }
  li{
    text-transform: uppercase;
    display: inline-block;
  }
  &-nav{
    li + li{
    margin-left: 34px;
    }
  }
}

.header__bottom-form{
  max-width: 360px;
  width: 100%;
  position: relative;
  input{
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 80px;
    border: 1px solid #d9dfe5;
  }
  button{
    cursor: pointer;
    position: absolute;
    height: 45px;
    width: 70px;
    background-color: $blue;
    top: 0;
    right: 0;
    border-radius: 20px;
    border: none;
  }
}
.header__bottom-form::after{
  pointer-events: none;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  content: "\e904";
  font-family: 'icomoon';
  font-size: 25px;
  right: 22px;
  top: 9px;
  color: #fff;
}


